# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
*.egg-info/

# Editor settings
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid
*.bak
*.tar
*.gz

# Python test output
htmlcov/
.coverage
.tox/
.cache/

# Pytest
.pytest_cache/

tt.text